@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Solid:wght@100;300;400;900&display=swap');

.container {
    background-color: #23D45F;
    min-height: 100vh;
}

.title h1 {
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 150px;
}

.title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 25%;
    text-align: end;
    position: fixed;
    ;
}

.Alinhamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
}

.Title {
    margin: 20% 0;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    color: white;
    font-size: 80px;
}

.ResetPassword {
    width: 525px;
    height: 605px;
    background-color: #F4F4F4;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Londrina Solid", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: black;
    gap: 20px;
}

.ResetPassword h1 {
    margin-top: 5%;
}

.Reset {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15%;
    gap: 140px;
}

.Reset input {
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px;
    height: 59px;
    width: 295px;
}

.Redefinir {
    background-color: #23D45F;
        height: 59px;
        width: 295px;
        color: white;
        border: none;
        font-family: "Inter", sans-serif;
        border-radius: 10px;
        outline: none;
        border: solid 1px #23D45F;
}

.BtnVoltar {
    background-color: transparent; 
    border: none; 
    color: black; 
    
}
